		div{
		display: inline-block;	
		text-align: center;
		margin: 5px;
		padding: 5px;
		}
		p{
		margin: 0px;
		}
		#caja1{
		background-color: yellow;
		}
	 	#caja2{
	 	background-color: red;
		}
		 #caja3{
		background-color: yellow;
		}